{% extends 'base.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item">Contacts</li>
{% endblock %}

{% block body %}
    <table class="table table-responsive table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <td>&nbsp;</td>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td><a href="{{ path('show_contact',{id:contact.id}) }}">{{ contact.id }}</a></td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.phoneNumber }}</td>
                <td>
                    <a href="{{ path('edit_contact',{id: contact.id}) }}">Edit</a>
                    <a href="{{ path('destroy_contact',{id: contact.id}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('create_contact') }}">Create new Contact</a>
{% endblock %}